-- Add hidden column to qualification_matches table
ALTER TABLE public.qualification_matches 
ADD COLUMN hidden boolean NOT NULL DEFAULT false;

-- Add index for hidden column for better query performance
CREATE INDEX IF NOT EXISTS idx_qualification_matches_hidden 
ON public.qualification_matches USING btree (hidden) TABLESPACE pg_default;

-- Optional: Add comment to document the column
COMMENT ON COLUMN public.qualification_matches.hidden IS 'Whether the match should be hidden from public view (true) or visible (false)';
